<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
      <div class="influenciadores-card">
          <div class="page-header">
              <h1>{{ Titulo }}</h1>
          </div>
      <form action='/alterar' method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" value = {{Influencer.nome}}>
          </div>
          <div class="form-group">
            <label for="plataforma">Plataforma</label>
            <input type="text" id="plataforma" name="plataforma" class="form-control" value = {{Influencer.plataforma}} >
          </div>
          <div class="form-group">
            <label for="seguidores">Seguidores</label>
            <input type="text" id="seguidores" name="seguidores" class="form-control"value = {{Influencer.seguidores}}>
          </div>
           <div class="form-group">
            <label for="areas">Áreas</label>
            <input type="text" id="areas" name="areas" class="form-control"value = {{Influencer.areas}}>
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
    </div>
</body>
</html>